@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
@import "../Mixins.scss";
@import "../Variables.scss";

*{
  box-sizing: border-box;
  margin: 0;
}

html, body{
  margin: 0;
  background: black;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.movie-card__wrapper {
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.movie_card{
  position: relative;
  display: block;
  width: 1180px;
  height: 600px;
//   margin: 100px auto; 
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  &:hover{
    transform: scale(1.02);
    transition: all 0.4s;
  }
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header{
      position: relative;
      padding: 45px;
      height: 30%;
      h1{
        color: #fff;
        font-weight: 400;
      }
      h4{
        color: #9ac7fa;
        font-weight: 400;
      }
      .minutes{
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,0.13);
      }
      .type{
        display: inline-block;
        color: #cee4fd;
        margin-left: 10px;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 30px;
        height: 340px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      padding: 25px;
      height: 40%;
      .text{
        color: #cfd6e1;
      }
    }
    .movie_social{
      height: 10%;
      padding-left: 40px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(255,255,255,0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover{
            transition: color 0.3s;
            color: rgba(255,255,255,0.8);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; 
    right: -46px;
    background-size: cover;
    border-radius: 11px;
  }
}

@media screen and (min-width: 768px) {
  .movie_header{
    width: 65%;
  }
  
  .movie_desc{
    width: 55%;
  }
  
  .info_section{
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }
  
  .blur_back{
    width: 80%;
    background-position: -100% 10% !important;  
  }
}

@media screen and (max-width: 768px) {
  .movie_card{
    width: 95%;
    margin: 70px auto; 
    min-height: 350px;
    height: auto;
  }
  
  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;  
  }
  
  .movie_header{
    width: 100%;
    margin-top: 85px;
  }
  
  .movie_desc{
    width: 100%;
  }
  
  .info_section{
    background: linear-gradient(to top, rgb(20, 20, 19) 40%, transparent 100%);
    display: inline-grid;
  }
}


#bright{
  box-shadow: 0px 0px 150px -45px rgba(255, 255, 255, 0.5);
  &:hover{
    box-shadow: 0px 0px 120px -55px rgba(255, 255, 255, 0.5);
  }
}

.movie__btns  {
    @include vr-centration-flex;
    height: 20%;
    margin-left: 45px;
 }
 
 .movie__btn-first {
     @include btn-size(130px, 30px);
     background-color: $bg-color-3;
     border-radius: 30px;
     @include font (400, 14px, 23px, $t-color-4);
     @include font-family_main; 
     font-weight: bold;
     margin-right: 20px;
 
     &:hover {
         @include btn-size(133px, 33px);
         background-color: $bg-color-4;
         border: 1px solid $bg-color-3;
         color: $t-color-2;
         font-size: 15px;
         margin-left: -3px;
     }
 }
 
 .movie__btn-second {
     @include btn-size(160px, 32px);
     background-color: $bg-color-4;
     border-radius: 30px;
     @include font (400, 15px, 23px, $t-color-0);
     @include font-family_main; 
     font-weight: bold;
 
     &:hover {
         @include btn-size(165px, 35px);
         background-color: $bg-color-4;
         border: 1px solid $bg-color-0;
         color: $t-color-0;
         font-size: 15px;
         margin-left: -3px;
     }
 }

.btn_go-back {
    position: absolute;
    right: 20px;
    z-index: 2;
    top: 20px;
    width: 40px;
    height: 40px;
}