$t-color-1: #859395;
$t-color-0:  #FFFFFF;
$t-color-2: #e5a00d;
$t-color-3: #a8a8a8;
$t-color-4: #101010;
$color-text-muted: #ffffff99;

$bg-color-0: #ffffff;
$bg-color-1: #1a1610;
$bg-color-2: #59544ca1;
$bg-color-3: #e5a00d;
$bg-color-4: #ffffff26;
$color-background-card: #0000004d;
$color-background-control: #ffffff1a;
$color-background-navbar: #1f2326;
$color-background-navbar2: #3e3e3e57;
